@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Thin'), local('EncodeSansCondensed-Thin'), url('encodesanscondensedthin.woff2') format('woff2'), url('encodesanscondensedthin.woff') format('woff'), url('encodesanscondensedthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed ExtraLight'), local('EncodeSansCondensed-ExtraLight'), url('encodesanscondensedextralight.woff2') format('woff2'), url('encodesanscondensedextralight.woff') format('woff'), url('encodesanscondensedextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Light'), local('EncodeSansCondensed-Light'), url('encodesanscondensedlight.woff2') format('woff2'), url('encodesanscondensedlight.woff') format('woff'), url('encodesanscondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url('encodesanscondensedregular.woff2') format('woff2'), url('encodesanscondensedregular.woff') format('woff'), url('encodesanscondensedregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Medium'), local('EncodeSansCondensed-Medium'), url('encodesanscondensedmedium.woff2') format('woff2'), url('encodesanscondensedmedium.woff') format('woff'), url('encodesanscondensedmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed SemiBold'), local('EncodeSansCondensed-SemiBold'), url('encodesanscondensedsemibold.woff2') format('woff2'), url('encodesanscondensedsemibold.woff') format('woff'), url('encodesanscondensedsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'), url('encodesanscondensedbold.woff2') format('woff2'), url('encodesanscondensedbold.woff') format('woff'), url('encodesanscondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed ExtraBold'), local('EncodeSansCondensed-ExtraBold'), url('encodesanscondensedextrabold.woff2') format('woff2'), url('encodesanscondensedextrabold.woff') format('woff'), url('encodesanscondensedextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Encode Sans Condensed';
    src: local('Encode Sans Condensed Black'), local('EncodeSansCondensed-Blac'), url('encodesanscondensedblack.woff2') format('woff2'), url('encodesanscondensedblack.woff') format('woff'), url('encodesanscondensedblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
